<PluginDeployer>
  <Connections>
    <Connection>
      <Name>MBR-Test</Name>
      <OrgId>635bfad7-13a6-42f8-9538-271b2d189cee</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vbWJyLXRlc3QuY3JtNC5keW5hbWljcy5jb207VXNlcm5hbWU9bWFya3VzLmJ1ZWhsZXJAa29udm9pLm9ubWljcm9zb2Z0LmNvbTtQYXNzd29yZD0nU3lzbWV4MzY5ODUxJztBdXRoVHlwZT1PZmZpY2UzNjU7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>9.0.0.3292</Version>
    </Connection>
  </Connections>
  <Assemblies>
    <Assembly>
      <OrgId>635bfad7-13a6-42f8-9538-271b2d189cee</OrgId>
      <ProjectName>DBMigration</ProjectName>
      <AssemblyId>5b068a82-b93c-45be-aa4a-491ec4a8a4c0</AssemblyId>
    </Assembly>
  </Assemblies>
</PluginDeployer>